package web

templ Dashboard(data DashboardData) {
	switch data.ActivePage {
	case PageProviders:
		@Providers(data)
	case PageDefaults:
		@Defaults(data)
	case PageRoutes:
		@Routes(data)
	default:
		@Overview(data)
	}
}
