package web

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<meta name="htmx-config" content='{"responseHandling":[{"status":"*", "swap": true}]}'/>
			<title>{ title }</title>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
			@templ.Raw("<style>" + TailwindCSS + "</style>")
		</head>
		<body class="bg-[#090a0f] text-[#f3f4f6] min-h-screen antialiased selection:bg-[#6366f1]/30 selection:text-white">
			{ children... }
		</body>
	</html>
}
